language: go
go:
  - 1.11.x
  - 1.12.x
sudo: false
install:
  - go get -v github.com/golangci/golangci-lint/cmd/golangci-lint
script:
  - export GO111MODULE=on
  - (cd politeiad && go build)
  - (cd politeiad/cmd/politeia && go build)
  - (cd politeiad/cmd/politeia_verify && go build)
  - (cd politeiavoter && go build)
  - (cd politeiawww && go build)
  - (cd politeiawww/cmd/politeiawww_dataload && go build)
  - (cd politeiawww/cmd/politeiawww_dbutil && go build)
  - (cd politeiawww/cmd/politeiawwwcli && go build)
  - ./goclean.sh
